@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');

h1 {
    color: red;
}

p {
    font-style: italic;
}

li {
    list-style-type: none;
}

 /* para generar un selector DE CLASE == FAMILIA se antepone un punto */
.destacado {
    color: blue;
    font-weight: bold;
}

.destacado_rojo {
    color: red;
    font-weight: bold;
}

 /* para generar un selector DE ID se antepone un # */

#miElemento{
    font-size: 50px;
}

#miElementoVerde{
    font-size: 50px;
    color:green;
}

#nuevoestilo{
    background-color: red; 
    font-size: 40px;
}

/* modelo de caja*/
#elemento {
    border:  5px rgb(223, 241, 21) dotted;
    margin: auto;
    padding-bottom: 30px;
    font-family: Arial, sans-serif;
    
}

.elemento2 {
    border:  5px rgb(223, 241, 21) solid;
    margin: auto;
    padding-bottom: 30px;
    font-family: Arial, sans-serif;
    
}
.flex{
    display: flex;
    flex-direction: column;

}
.gradiente{
    background: #2A7B9B;
background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}
.gradiente2{
    background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);

box-shadow: 10px 9px 0px 0px rgba(0,0,0,0.85);
-webkit-box-shadow: 10px 9px 0px 0px rgba(0,0,0,0.85);
-moz-box-shadow: 10px 9px 0px 0px rgba(0,0,0,0.85);
}



.bitcount-grid-single-1 {
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}