nav{
    display:flex;
    justify-content: center;
    
}

ul{
    display: inline-flex;
    justify-content: center;
    padding: 0;
    padding-inline-start: 0;

   
}

li{
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
    border: solid pink 1px;

    background: #cf3ffb;
    background: radial-gradient(circle,rgba(207, 63, 251, 1) 0%, rgba(252, 70, 79, 1) 100%);
}

a{
    text-decoration: none;
}
.seccion_1{
  text-align:  center;
}
.tarjetero{
    display: flex;
}
.tarjeta{
    justify-content: center;
    width: 50%;
    border: 1px solid black;
    margin: 0 20px;
}